
@import"https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap";

body
{
    font-family:"Raleway","Sans serif";
    
   
    justify-content: center;
}

*
{
	margin: 0;
	padding: 0;
}

/*General*/
    img
{
        object-fit: cover;
}
a
{   color:inherit;
    text-decoration:none}
ul
{
    list-style: none;
}


figure:hover
{
    transform: scale(1.015); 
    transition: all 0.3s;
}

.activite a:hover
{
    transform: scale(1.015); 
    transition: all 0.3s;
}


/*Header*/

header
{
    max-width: 1600px;
}
h1
{
    font-size: 1.4em;
    font-weight: bolder;
    padding-bottom: 15px;
}

.title
{
    
    margin: 1em;
    margin-right: 2.5em;
}
.title p
{
    font-weight: 500;
}


.top_line img
{
    height: 3em;
    margin-left: 2em;
    
}
.subscrib
{
    margin-right: 1.2em;
}


.top_line p a
{
    color: #0065FC;
        padding: 0.8em;
    cursor: pointer;
}


.top_line
{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    max-width: 1700px ;
        
}


.subscrib
{
    font-weight: bold;
    color: #0065FC;
}
 
.top_line li
{
  
    padding-top: 2em;
    padding-bottom: 1.3em;
       width: 50%;
    border-bottom: 3px solid #F2F2F2;
    margin: 0px;
   display: flex;
   justify-content: center;
    
}



.destop
{
display: flex;
justify-content: space-between;

}

.destop img
{
    margin: 1.8em;
}



/*filtre lieu */

.search_place
{
    display: flex;
    margin: 1.2em;
   min-height: 50px;
   min-width: 340px;

  
}

.form
{
    border: 1px #F2F2F2 solid;
    border-radius: 20px;
    font-size: 1.2em;
    color:black;
    
    
}
.marqueur
{   padding: 15px;
    padding-right: 20px;
    padding-top: 16px;

   height: 100%;
   font-size: 0.9em;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}
.search_place .ville
{
    background-color: #FFFFFF;
        padding: 0px;
    padding-left: 0.3em;
    border: 0px;
    margin: 0px;
    font-size: 0.9em;
    font-weight: bold;
    color: black;
}

.ville::placeholder
{
    color:black;
}


    .btn .fas
{

    background-color: #0065FC;
    color: #FFFFFF;
    border-radius: 17px;
    border: #0065fc 0px;
    padding: 1em;
    font-size: 1.3em;
    
    }
    
.search_place :hover
{
    cursor: pointer;
    font-size: bolder;
    color: #0065fc;;
}
/*filtre selection options */
    

.search_option
{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    align-items: center;
}

.search_option h3
{
    margin-left: 1.2em;
    margin-right: 1.2em;
}

.search_option .fas
{
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 60px;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0px;
}


/*Filtre */

.filter p:last-child {
    padding: 0 10px;
}

.filter {
    height: 40px;
    border: 2px solid #F2F2F2;
    display: flex;
    border-radius: 30px;
    align-items: center;
    transition: all 0.4s ease-in-out;
    margin: 0.5em;
    font-size: 1em;
    font-weight: 700;
}

.filter .fas
{
    font-size: 1.2em;
}

.filter p {
    padding: 0;
    margin: 0;
    overflow: hidden; 
}
    

.filter p:last-child {
    padding: 0 10px;
}



.filter:hover
{
    border: 2px solid #0065FC;
    cursor: pointer;
    background-color: #DEEBFF;

}

.filtre:hover  p
{
border:none
}

/*disponible*/

.disponible
{
    
    margin-bottom: 3em;
    margin-top: 3em;
}

.disponible .fas 

{

    color: #0065FC;
    border: 1px solid #DEEBFF ;
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: 0.5em 0.9em;
    padding-right: 1.1em;
    width: 0.1em;
    align-items: center;
    justify-content: center;
    margin-right: 0.2em; 
    font-size: 0.7em;
}

/*section1 hebergement */
.section1 
{
    max-width: 1600px;
    margin-right: 0px;
    margin-left: 15px;
}

.section1 .presentation
{
    display: none;
}
.section1 h2
{
    margin: 1em;
}
.blue
{
    color: #0065FC;
    font-size: 0.7em;
}

.grey
{
    color: #F2F2F2;
    font-size: 0.7em;
}

.hotel figure

{
    border: #FFFFFF 4px solid;
    border-radius: 15px;
    box-shadow: #f0ebeb 3px 5px 8px ;
    padding: 0px;
    margin: 0em;
    margin-bottom: 3em;
    margin-top: 0.2em;
    max-height: 200px;
    max-width: 400px;
    height: 100%;
    width: 100%;
    
}


.hotel 
{
    display: flex;
    flex-wrap: wrap;
}
.hotel img

{
    width: 100%;
  max-height:115px ;
  border-radius: 15px 15px 0px 0px;
}

ul
{
    margin: 0px;
    padding: 0px;
}
.hotel figure  p
{
    margin: 0px;
    margin-bottom: 0em;
    margin-left: 00.4em;
        font-size: 0.9em;
        font-weight: 500;
}

figure h4
{
    margin: 0px;
    margin-bottom: 0.2em;
    margin-left: 00.6em;  

}
.hosting h3
{
    
    font-weight: 700;
    margin:2em;
    margin-top: 0em;
}

.hosting figcaption p
{
    font-size: 0.9em;
    padding-left: 0.4em;
    padding-bottom: 0.4em;
}


.price
{
    font-weight: bold;
}


a figure :hover
{
font-weight: bold;
transition-duration: 1s;

}
/*section 1 populaire*/

.populaire
{
background-color: #F2F2F2;
max-width: 400px;
padding-top: 1em;
padding-bottom: 2em;
border-radius: 15px;


}

.populaire h2

{
    display: flex;
    justify-content: space-between;

}

.populaire figure
{
    display: flex;
     height: 140px;
    border: #FFFFFF 5px solid;
    border-radius: 15px;
    box-shadow: #f0ebeb 0px 5px 8px ;
    margin: 0.4em;
    width: 85%;
}
.populaire p
{
    margin: 0px;
    font-weight: 500;
 
}

.populaire img 
{
    width: 40%;
  
    height: 100%;
    margin: 0px;
    border-radius: 15px 0px 0px 15px;
    padding: 0px;

}

.populaire figcaption
{
    width: 60%;
 
    height: 100%;
      background-color: #FFFFFF;
   font-size: 1em;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding-left: 1em;
   
}

.populaire aside
{
    padding-bottom: 1em;
    font-size: 0.7em;
}

.populaire h4
{
    font-weight: 750;
    margin: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1.5em;
}


/*section2 Activité*/



.section2 
{
    margin: 1em;
    padding-bottom: 2em;
    max-width: 1520px;
   

}

.section2 h1
{
    padding: 1em 0 ;
}
.section2 .activite
{
display: flex;
flex-wrap: wrap;
justify-content: space-between;


}
.section2 .activite h2
{
    font-size: 1em;
    margin: 0px;
    max-height: 55px;
    padding:01em  1em;
} 

.zone1
{
    display: flex;
    align-content: stretch; 
    justify-content: space-between;
    width: 48%;
}
.zone2 
{
    display: flex;
    align-content: stretch; 
    justify-content: space-between;
    width: 48%;
}

.section2 .activite img 
{
    width: 100%;
    height: 87%;
    border-radius: 15px 15px 0px 0px;
}

.short_img
{
    justify-content: space-between;
    width: 45%;
    height: 100%;
        display: flex;
    flex-direction: column;
    margin: 10px; 
    
}

 .big
{
height: 450px;
width: 300px;
border-radius: 15px;  
box-shadow: #f0ebeb 3px 5px 8px ;
}

.small
{
    width: 300px;
border-radius: 15px;
box-shadow: #f0ebeb 3px 5px 8px ; 
}
.big img
{
    width: 300px;
    height: 390px;
}
.activite p
{width: 300px;
    height: 55px;

}


.activite .short_img
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    width: 300px;
    max-height: 450px;
    margin: 0px;
}

.activite .short_img img
{
    max-height: 155px;
    min-height: 130px;
    width: 300px;
}


/*footer*/





footer
{
    background-color:#F2F2F2;
    display: flex;
    flex-wrap: wrap;
    
  width: 100%;
  padding-top: 2em;
   padding-bottom: 4em;
 
}
ul
{
    list-style-type: none;
    
}

footer h2
{

  
    font-size: 1.1em;
    font-weight: 700;
    padding-left: 1em;
   
}

footer li
{
    justify-content: space-between;
    padding-top: 0.6em;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 1em ;
}

footer li a:hover
{
    font-weight: bolder;
    color: #0065FC;
}





/* règles CSS pour  mobiles  */
@media all and (max-width: 1044px)
{

 
.destop 
{
    display: none;
}

.top_line
{
   margin-top: 25px; 
}

.top_line p 
{
    margin-top: 15px;
}
.top_line li a:hover
{
    color: #0065FC;
       cursor: pointer;
    
  
}

.top_line li:hover
{
    border-bottom: 3px solid #0065fc;
    
}

.title h1 
{
    margin-bottom: 15px;
}

.search_place .btn_destop
{
    display: none;
}
.marqueur
  {   
    padding: 16px;
    padding-right: 20px;
    padding-top: 18px;
    
            }

.btn
{
    background-color: #FFFFFF;
    border:0px #FFFFFF; 
}

.search_option h3
{
    width: 100%;
}

.disponible
{
    margin-bottom: 15px;
}


.section1
{
    
    margin: 0px;
}
/*Hotel pour  mobiles*/

.hosting
{
    margin: 0px;
}
.hotel figure

{
    border: #FFFFFF 4px solid;
    border-radius: 15px;
    box-shadow: #f0ebeb 3px 5px 8px ;
    padding: 0px;
    margin-left: 15px;
    max-height: 200px;
    max-width: 500px;
    height: 100%;
    width: 85%;
   
}



.hotel 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0px;
}
.hotel img

{
    width: 100%;
  max-height: 115px;
  border-radius: 15px 15px 0px 0px;
}



/* Populaire pour  mobiles*/


.populaire
{
    border-radius: 0px;
    max-width: 680px;
    margin: 0px;
}
.populaire ul 
{
   width: 88%; 
   padding: 15px;
}
/* Activite pour  mobiles*/

.section2 
{
    margin-left:20px;
    margin-right: 0px;
    width: 90%;
}
.section2 .activite
{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: 0px;
    width: 98%;
}

.zone1, .zone2
{ display: flex;
    flex-direction: column;
align-content: space-between;
width: 98%;
margin: 0px;
}

.high
{
    width: 98%;
    margin: 0px;
    
}
.section2 .activite img
{
    height: auto;
    width: 100%;
    max-width: 500px;
    max-height: 130px;
    border-radius: 15px 15px 0px 0px;
}


.section2 .big
{
    height: 190px;
    margin: 0px;
    width: 98%;
    max-width: 500px;
    margin-bottom: 20px;
    
}

.section2 .big img 
{
    width: 100%;
}

.section2 .short_img
{

    width: 100%;
}
.section2 .small
{
    height: 190px;
    margin: 0px ;
    width: 98%;
    max-width: 500px;
    margin-bottom: 20px;

}

.section2 a
{
 margin:0px;
}

/* footer mobile*/
footer
{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 25px 0px;
}
footer ul 
{
    margin-bottom: 30px;
}
footer h2
{
    margin-bottom: 10px;
}
footer .liste
{ width: 80%;
}
}


/* règles CSS pour  tablette  */
@media all and (min-width:1045px) and (max-width: 1320px)

{
 
 .mobile
 {
     display: none;
 } 

 .destop li
{
border: 0px;
margin-left: 3em;
padding-top: 2em;

}
.destop li:hover
   {
       color: #0065FC;
       border-top: #0065FC solid 3px;
       cursor: pointer;
       
        
   }

   .destop li 
   {
       align-items: center;
       margin: 0px;
       padding: 2em;
       border: 3px solid #FFFFFF;
   }
   
 .search_place
 
 {
     width: 95%;
 }
.search_place .btn .fas
{
    display: none;
}
.search_place .btn_destop
   {
            padding: 15px;
         
        background-color: #0065FC;
        color: #FFFFFF;
        border-radius: 0px 15px  15px 0px;
        border: #0065fc 50px;
        height: 100%;
    }    
.btn
        {
        
            background-color: #0065FC;
            color: #FFFFFF;
            border-radius: 0px 15px  15px 0px;
            border: #0065fc 50px;
            height: 100%;
            
            
            
               
            }
 .marqueur
  {   
    padding: 16px;
    padding-right: 20px;
    padding-top: 13px;
    height: 100%;
    font-size: 0.9em;
   background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
            }
   
.section1
{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
/*Hebergement pour  tablette*/
.hosting
{
    background-color: #F2F2F2;
    width: 95%;
    border-radius: 15px;
    
}

.hotel 
{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    flex-wrap: nowrap;

}
.hotel li
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 30%;
}

.hotel li a 
{
    width: 100%;
}
.hotel figure

{
    
    max-height: 200px;
    max-width: 400px;
   background-color: #FFFFFF;
    
}

.hotel img

{
    width: 100%;
  max-height:115px ;
  border-radius: 15px 15px 0px 0px;
}




/*populaire pour  tablette*/

.populaire
{
    width: 95%;
    margin-bottom: 15px;
    max-width: 1300px;
    
}
.populaire figure
{  
   width: 90%;
}


.populaire img 
{
    
    width: 40%;
    height: 100%;
   
}

.populaire figcaption
{
    
    width: 60%;
    height: 100%;
   
}

.populaire ul 
{
    display: flex;
    width: 100%;
    
}


/*activite pour  tablette*/


.section2
{
    max-width: 1300px;
    margin:0px;
    margin-left: 15px;
}
.section2 .activite
{
   display: flex;
   flex-direction: column;
    width: 95%;
    
}
.zone1 
{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
   
   
    
}
.zone2
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    
}
.activite .short_img
{
    display: flex;
    flex-direction: row;
  
    
}


.section2 .activite img 
{
    max-width: 400px;
    
    max-height: 190px;
}

.section2 .big
{
    height: 190px;
    max-width: 400px;
    margin-bottom: 2em;
    margin: 0px;
    margin-right: 0px;
    padding-bottom: 2em;

}
 

.section2 .small
{
    height: 190px;
    max-width: 400px;
    margin-bottom: 2em;
    padding-bottom: 2em;
    width: 100%;
    
}
.section2 .small h2 
{
    width: 100%;
}

.section2 a 
{
    margin:0px;
    margin-left: 5%; 
    width: 100%;
}

    /*footer pour  tablette*/

footer .liste
{

    width: 25%;
  
}
footer ul 
{
    margin-bottom: 30px;
}
}
 
/* règles CSS pour  destop  */
@media all and (min-width:1321px) 

{

    .mobile
    {
        display: none;
    } 
   
    .destop li
   {
   border: 0px;
   margin-left: 3em;
  
   
   }
   .destop li:hover
   {
       color: #0065FC;
       border-top: #0065FC solid 3px;
       cursor: pointer;
       color: #0065FC;
      
   }

   .destop li 
   {
       align-items: center;
       margin: 0px;
       padding: 2em;
       border: 3px #FFFFFF solid;
   }
   header
   {
    margin-left: 3%;
   }
   .title
   {
    margin-left: 3%;
   }

   .search_place .btn .fas
   {
       display: none;
   }

   .search_place
   {
    margin-left: 3%;
   }

   .search_place .btn_destop
   {
            padding: 15px;
         
        background-color: #0065FC;
        color: #FFFFFF;
        border-radius: 0px 15px  15px 0px;
        border: #0065fc 50px;
        height: 100%;
    }    
        .btn
        {
        
            background-color: #0065FC;
            color: #FFFFFF;
            border-radius: 0px 15px  15px 0px;
            border: #0065fc 50px;
            height: 100%;
            
            
            
               
            }
 .marqueur
  {   
    padding: 16px;
    padding-right: 20px;
    padding-top: 13px;
    height: 100%;
    font-size: 0.9em;
   background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
            }
   
 .search_option 
   {
       margin-left: 3%;
 }
.disponible
 {
     margin-left: 3%;
} 
/*section 1 Destop*/

   .section1
{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-left: 3%;
}
/*populaire destop*/
.populaire
{
    border-radius: 15px;
    width: 30%;
    

   
}

.populaire ul 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    margin:0px;
}


.populaire figure
{

   width: 340px;
   height: 140px;
  margin: 4% ;
   
}

.populaire img 
{ 
    
    width: 40%;
    height: 100%;
   
}

.populaire figcaption
{
    
    width: 60%;
    height: 100%;
     
   
}

/*Hosting destop*/

.hotel figure

{
  
   height: 200px;
    width: 250px;
    background-color: #FFFFFF;
   
   
}

.hotel
{
    justify-content: space-around;
    max-height: 630px;
    display: flex;
    flex-wrap: nowrap;
}

.hosting
{
    background-color: #F2F2F2;
    width: 65%;
    border-radius: 15px;
    max-width: 1100px;
    padding-left: 0.4em;
}



/*Activité Destop*/
.section2 
{
    margin: 3%;
}


   footer .liste
{
  width: 28%;
  margin-left: 3%;
}

}